<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'woqu/css/dynamic.css' %}">
    <link rel="stylesheet" href="{% static 'woqu/css/interest.css' %}">
    <script src="{% static 'woqu/js/rem.js' %}"></script>
    <script src="{% static 'woqu/js/jQuery.js'%}"></script>
</head>
<style>
    .top{width:auto;height:100%;justify-content:start;align-items: flex-end;}
    .top h4,.top h6{display:inline-block;width:auto;margin-right:.24rem;}
</style>
<body>

<header style="padding-bottom:.2rem;">
    <div class="top" style="margin-top:0;">
        <h4 style="font-size: 0.5rem;color: #555;">好友部落</h4>
        <h6 style="font-size: 0.28rem;color: #969696;">兴趣部落</h6>
        <h6 style="font-size: 0.28rem;color: #969696;">我的部落</h6>
    </div>
</header>
<section class="dynamic">
    {% for dat,val in data.items %}
        <main class="user_box">
            <div class="box_txt">
                <img src="{% static 'woqu/img/head.jpg' %}" alt="" class="user_head">
                <div class="user_des">
                    <span class="user_name">{{ val.0.info.nickname }}</span>
                    <p class="user_txt">{{ val.1.con }}</p>
                </div>
            </div>
            <!--<div class="box_video"></div>-->
            <div class="box_img">
                {% for img in val.2 %}
                <div><img src="/media/{{ img }}" alt="" class="dyn_imgs"></div>
                {% endfor %}
            </div>
            <div class="box_state">
                <div class="dyn_time"><div></div><span>{{ val.1.c_time }}</span></div>
                <div class="dyn_work">
                    {% if val.3 and val.4 %}
                    <div class="workes"><div class="works_icon like" id="nolike{{dat}}" flag="False" onclick="like({{dat}})"></div><span id="likenum{{dat}}">{{ val.1.like_num }}</span></div>
                    {% else %}
                    <div class="workes"><div class="works_icon like" id="nolike{{dat}}" flag="True" onclick="like({{dat}})" style="opacity:0.2;"></div><span id="likenum{{dat}}">{{ val.1.like_num }}</span></div>
                    {% endif %}
                    <div class="workes">
                        <a href="{% url 'woquApp:comment' dat %}"><div class="works_icon talk"></div></a><span>{{ val.1.review_num }}</span>
                    </div>
                    <div class="workes"><div class="works_icon share"></div></div>
                </div>
            </div>
            {% for i in con %}
            {% if i.nid_id == dat %}
            <div class="com">
                <h1 class="h1">最新评论</h1>
                <div class="comments">
                    <div class="nic">{{i.uid.info.nickname}}：</div>
                    <div class="neirong">{{i.con}}</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </main>
    {% endfor %}
    <div class="new_dyn"><a href="{% url 'woquApp:up_news' %}" style="width:100%;height:100%;display:block;"></a></div>
</section>
<footer style="background: rgba(255,255,255,1)">
    <ul>
        <li><a href="{% url 'woquApp:chat' %}" class="foot_link">
            <div class="choice_img"><img src="{% static 'woqu/img/duihua_active.png' %}" alt=""></div>
            <span style="display: block;font-size: 0.18rem;margin-top: -0.55rem;margin-left: 0.05rem;color:#000;">对话</span></a>
        </li>
        <li><a href="{% url 'woquApp:interest' %}" class="foot_link">
            <div class="choice_img"><img src="{% static 'woqu/img/qvyou.png' %}" alt="" style="width: 0.32rem;height: 0.43rem;display: block;margin-top: 0.2rem"></div>
            <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left:-0.08rem;color: #969696;">趣友</span></a>
        </li>
        <li><a href="{% url 'woquApp:index' %}" class="foot_link">
            <div class="choice_img"><img src="{% static 'woqu/img/home.png' %}" alt="" style="width: 0.44rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
            <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.03rem;color: #969696;">主页</span></a>
        </li>
        <li><a href="{% url 'woquApp:news' %}" class="foot_link">
            <div class="choice_img"><img src="{% static 'woqu/img/dongtai_active.png' %}" alt="" style="width: 0.38rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
            <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.05rem;color:#ff577a;">动态</span></a>
        </li>
        <li><a href="" class="foot_link">
            <div class="choice_img"><img src="{% static 'woqu/img/wode.png' %}" alt="" style="width: 0.4rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
            <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.05rem;color: #969696;">我的</span></a></li>
    </ul>
</footer>
<!--转发-->
<div class="zhuanfa">
    <div class="bgtp"></div>
    <div class="fot">
        <ul>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/qq.png' %}" alt=""></div>
                <div class="qq">QQ</div></a>
            </li>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/icon (32).png' %}" alt=""></div>
                <div class="qq">微信好友</div></a>
            </li>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/icon (20).png' %}" alt=""></div>
                <div class="qq">朋友圈</div></a>
            </li>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/icon (31).png' %}" alt=""></div>
                <div class="qq">微博</div></a>
            </li>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/icon (13).png' %}" alt=""></div>
                <div class="qq">举报该信息</div></a>
            </li>
            <li class="click"><a href="#:;">
                <div class="tb"><img src="{% static 'woqu/img/icon (12).png' %}" alt=""></div>
                <div class="qq">复制链接</div></a>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
function like(id){
    let nid = id
    let num = parseInt($('#likenum'+id).text())
    flag = $('#nolike'+id).attr('flag')
    if(flag=='True'){
        $.ajax({
            url:"/send/",
            type:'post',
            dateType:'json',
            data:{'nid':nid},
            success:function(e){
                $('#nolike'+id).css('opacity','1').attr('flag',`False`)
                num+=1
                $('#likenum'+id).text(`${num}`)
            }
        })
    }else{
        $.ajax({
            url:"/back/",
            type:'post',
            dateType:'json',
            data:{'nid':nid},
            success:function(e){
                $('#nolike'+id).css('opacity','0.2').attr('flag',`True`)
                num-=1
                $('#likenum'+id).text(`${num}`)
            }
        })
    }
}
$('.share').click(function(){
    $('.zhuanfa').slideDown()
})
$('.click').click(function(){
    $('.zhuanfa').slideUp()
})
</script>
</html>