<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'woqu/js/jQuery.js' %}"></script>
    <script src="{% static 'woqu/js/rem.js' %}"></script>
    <link rel="stylesheet" href="{% static 'woqu/css/interest.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <div class="all_side">
            <ul class="top">
                <li><h4 style="font-size: 0.56rem">兴趣部落</h4></li>
                <li><h6 style="font-size: 0.28rem;margin-top: 0.29rem;color: #969696;">好友</h6></li>
            </ul>
            <ul class="search">
                <li>·</li>
                <li><input type="text" placeholder="寻找你的好友"></li>
            </ul>
            <section>
                <ul>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(37).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">重庆美食群</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 第一次吃 很过瘾 很爽</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num">3</div>
                        </div></a>
                    </li>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(27).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">建筑设计交友群</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 今天的设计图纸做完没有 要不要晚上一起加班</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num_jy"><img src="{% static 'woqu/img/jingyin.png' %}" alt=""></div>
                        </div></a>
                    </li>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(37).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">巴西球迷俱乐部</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 老王 下午一起去踢球呗 晚上顺便再喝几杯</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num">3</div>
                        </div></a>
                    </li>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(26).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">健身爱好者</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 今天我又吃了十颗生鸡蛋</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num">3</div>
                        </div></a>
                    </li>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(3).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">羽毛球社团</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 第一次来吃这个，很过瘾 也很爽</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num">3</div>
                        </div></a>
                    </li>
                    <li><a href="{% url 'woquApp:chat' %}">
                        <div class="friend_img"><img src="{% static 'woqu/img/icon%20(1).png' %}" alt=""></div>
                        <div class="name_con">
                            <div class="name">游泳俱乐部</div>
                            <div class="con"><span style="color: green;font-size: 0.06rem">·</span> 下午一起去游泳呗</div>
                        </div>
                        <div class="time_num">
                            <div class="time">19:36</div>
                            <div class="num">2</div>
                        </div></a>
                    </li>
                </ul>
            </section>
            <footer style="background: rgba(255,255,255,1)">
                <ul>
                    <li><a href="{% url 'woquApp:chat' %}" class="foot_link">
                        <div class="choice_img"><img src="{% static 'woqu/img/duihua_active.png' %}" alt=""></div>
                        <span style="display: block;font-size: 0.18rem;margin-top: -0.55rem;margin-left: 0.05rem;color: #000;">对话</span></a>
                    </li>
                    <li><a href="" class="foot_link">
                        <div class="choice_img"><img src="{% static 'woqu/img/qvyou_active.png' %}" alt="" style="width: 0.32rem;height: 0.43rem;display: block;margin-top: 0.2rem"></div>
                        <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left:-0.08rem;color: #ff577a;">趣友</span></a>
                    </li>
                    <li><a href="{% url 'woquApp:index' %}" class="foot_link">
                        <div class="choice_img"><img src="{% static 'woqu/img/home.png' %}" alt="" style="width: 0.44rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
                        <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.03rem;color: #969696;">主页</span></a>
                    </li>
                    <li><a href="{% url 'woquApp:news' %}" class="foot_link">
                        <div class="choice_img"><img src="{% static 'woqu/img/dongtai.png' %}" alt="" style="width: 0.38rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
                        <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.05rem;color: #969696;">动态</span></a>
                    </li>
                    <li><a href="" class="foot_link">
                        <div class="choice_img"><img src="{% static 'woqu/img/wode.png' %}" alt="" style="width: 0.4rem;height: 0.44rem;display: block;margin-top: 0.2rem"></div>
                        <span style="display: block;font-size: 0.18rem;margin-top: -0.65rem;margin-left: -0.05rem;color: #969696;">我的</span></a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>