<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>
    {% load static %}
    <script src="{% static 'woqu/js/jQuery.js' %}"></script>
    <script src="{% static 'woqu/js/rem.js' %}"></script>
    <script src="{% static 'woqu/js/wx_zhuye.js' %}"></script>
    <link rel="stylesheet" href="{% static 'woqu/css/wx_zhuye.css' %}">
</head>
<body>
<div class="bg">
    <header>
        <img src="{% static 'woqu/img/zhuye.png' %}" alt="">
    </header>
    <div class="fanhui">
        <img src="{% static 'woqu/img/fanhui.png' %}" alt="">
    </div>
    <div class="geren">
        <div class="left">
            <h1>Jsmine.Ceing</h1>
            <div class="address">
                <div class="map" style="margin-right: .55rem;">
                    <img src="{% static 'woqu/img/组10.png' %}" alt="">
                    <h2>4.3KM</h2>
                </div>
                <div class="map">
                    <div class="circle"></div>
                    <h2>太原市小店区</h2>
                </div>
            </div>
            <div class="qianming">
                <div class="circle"></div>
                <h2>个性签名</h2>
            </div>
            <h3>不忘初心，方得始终</h3>
        </div>
        <div class="right">
            <img src="{% static 'woqu/img/icon (2).png' %}" alt="">
            <img src="{% static 'woqu/img/icon (34).png' %}" alt="">
        </div>
    </div>
    <ul class="biaoqian">
        <li><img src="{% static 'woqu/img/icon (36).png' %}" alt=""></li>
        <li><img src="{% static 'woqu/img/icon (18).png' %}" alt=""></li>
        <li><img src="{% static 'woqu/img/icon (30).png' %}" alt=""></li>

    </ul>
    <div class="qianming" style="padding: 0 .24rem;box-sizing: border-box;">
        <div class="circle"></div>
        <h2>个性标签</h2>
    </div>
    <ul class="biaoqian biaoqian1">
        <li style="background: #f9effc;color: #c162e6">吃货</li>
        <li style="background: #eff7ff;color: #57a5fe">隔壁老王</li>
        <li style="background: #fff5f9;color: #ff9ac0">完美主义</li>
        <li style="background: #f0faf5;color: #5ecc92">很中二</li>
    </ul>
    <ul class="display">
        <li>
            <div class="top">
                <div class="head">
                    <img src="{% static 'woqu/img/head.png' %}" alt="">
                </div>
                <div class="word">
                    <h1>Jsmine.Ceing</h1>
                    <h2>我来到你的城市，走你走过的路，看你看过的风景 只为弥补 过去我不在的时光 </h2>
                </div>
            </div>
            <div class="neirong">
                <img src="{% static 'woqu/img/car.png' %}" alt="">
            </div>
            <div class="tubiao">
                <div class="circle"></div>
                <h1>41分钟前</h1>
                <ul>
                    <li>
                        <img src="{% static 'woqu/img/icon (8).png' %}" alt="">
                        <h2>234</h2>
                    </li>
                    <li>
                        <img src="{% static 'woqu/img/icon (21).png' %}" alt="">
                        <h2>234</h2>
                    </li>
                    <li class="share1">
                        <img src="{% static 'woqu/img/icon (11).png' %}" alt="">
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="top">
                <div class="head">
                    <img src="{% static 'woqu/img/head.png' %}" alt="">
                </div>
                <div class="word">
                    <h1>Jsmine.Ceing</h1>
                    <h2>我来到你的城市，走你走过的路，看你看过的风景 只为弥补 过去我不在的时光 </h2>
                </div>
            </div>
            <div class="neirong">
                <img src="{% static 'woqu/img/car.png' %}" alt="">
            </div>
            <div class="tubiao">
                <div class="circle"></div>
                <h1>41分钟前</h1>
                <ul>
                    <li>
                        <img src="{% static 'woqu/img/icon (8).pn' %}g" alt="">
                        <h2>234</h2>
                    </li>
                    <li>
                        <img src="{% static 'woqu/img/icon (21).png' %}" alt="">
                        <h2>234</h2>
                    </li>
                    <li class="share1">
                        <img src="{% static 'woqu/img/icon (11).png' %}" alt="">

                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="share">
        <div class="fanhui " id="fanhui1">
            <img src="{% static 'woqu/img/icon (29).png' %}" alt="">
        </div>
        <ul>
            <li>
                <img src="{% static 'woqu/img/icon (4).png' %}" alt="">
                <h1>QQ</h1>
            </li>
            <li>
                <img src="{% static 'woqu/img/icon (32).png' %}" alt="">
                <h1>微信好友</h1>
            </li>
            <li>
                <img src="{% static 'woqu/img/icon (20).png' %}" alt="">
                <h1>朋友圈</h1>
            </li>
            <li>
                <img src="{% static 'woqu/img/icon (31).png' %}" alt="">
                <h1>微博</h1>
            </li>
            <li>
                <img src="{% static 'woqu/img/icon (13).png' %}" alt="">
                <h1>举报该信息</h1>
            </li>
            <li>
                <img src="img/icon (12).png" alt="">
                <h1>复制链接</h1>
            </li>
        </ul>
    </div>
</div>

</body>
</html>