@import "base.css";
body{
    width: 100%;
    height: 100%;
    position: absolute;
}
header{
    width: 100%;
    height: .88rem;
    overflow: hidden;
}
footer{
    width: 100%;
    height: 1.1rem;
    background-color: rgba(42,50,61,.3);
    position: fixed;
    bottom: 0;
}
.dynamic{
    width: 100%;
    height: -webkit-calc(100% - 1.98rem);
    height:-moz-calc(100% - 1.98rem);
    height:calc(100% - 1.98rem);
    margin: 0 auto;
    background-color: #fafafa;
    overflow-y: scroll;
}
.dynamic::-webkit-scrollbar {
    display: none;
}
.user_box{
    width: 100%;
    box-sizing: border-box;
    padding: .36rem .24rem .22rem .24rem;
    border-bottom: .02rem rgba(0,0,0,.2) dashed;
}
.box_txt{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}
.user_head{
    width: .76rem;
    height: .76rem;
    border-radius: 50%;
}
.user_des{
    width: 100%;
    margin-left: .24rem;
    padding-top: .08rem;
}
.user_name{
    color: #ff426b;
    font-family: SanFranciscoDisplay;
    font-size: .34rem;
    font-weight: 600;
    display: block;
    line-height: .34rem;
}
.user_txt{
    color: #969696;
    font-family: PingFang;
    font-size: .22rem;
    line-height: .28rem;
    margin-top: .18rem;
    font-weight: 500;
}
.box_video{
    width: 100%;
    height: 3.5rem;
    background: #e0e0e0;
    margin-top: .2rem;
    overflow: hidden;
}
.videos{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.box_img{
    width: 100%;
    max-height: 7.02rem;
    margin-top: .2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.box_img>div{
    width: 2.26rem;
    height: 2.26rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .12rem;
    margin-bottom: .12rem;
}
.box_img>div:nth-child(3n){
    margin-right: 0;
}
.dyn_imgs{
    height: 100%;
    background-color: #e0e0e0;
}
.box_state{
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .08rem;
}
.dyn_time{
    font-size: .18rem;
    font-family: PingFang;
    color: #969696;
    display: flex;
    justify-content: start;
    align-items: center;
}
.dyn_time>div{
    background-color: #4ed8af;
    width: .06rem;
    height: .06rem;
    border-radius: 50%;
    margin-right: .06rem;
}
.dyn_work{
    height: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.workes{
    font-size: .2rem;
    color: #969696;
    font-family: SanFranciscoDisplay;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: .22rem;
}
.works_icon{
    width: .4rem;
    height: .4rem;
    margin-right: .04rem;
}
.like{
    background: url("../img/icon (8).png")no-repeat center/.39rem .41rem;
}
.no_like{
    background:url("../img/nolike.png") no-repeat center/.39rem .41rem;
}
.talk{
    background: url("../img/icon (21).png")no-repeat center/.37rem .35rem;
}
.share{
    background: url("../img/icon (11).png")no-repeat center/.42rem .4rem;
}
.new_dyn{
    width: .92rem;
    height: .92rem;
    border-radius: 50%;
    background: url("../img/new_dyn.png")no-repeat center/100%;
    position: fixed;
    bottom: 1.45rem;
    left: 0;
    right: 0;
    margin: auto;
}
.com{
    width:100%;
    height:auto;
    background:#fff;
    margin-top:0.5rem;
    border-top:0.01rem dashed #f4f4f4;
    border-bottom:0.01rem dashed #f4f4f4;
    padding:0.2rem 0.3rem;
    box-sizing:border-box;
}
.h1{
    font-size:0.35rem;
}
.comments{
    width:100%;
    height:auto;
    background:#fff;
    margin-top:0.3rem;
    display:flex;
    justify-content:flex-start;
}
.nic{
    font-size:0.36rem;
    line-height:0.8rem;
    color:#65C3E9;
}
.neirong{
    width:4.5rem;
    height:auto;
    font-size:0.36rem;
    padding:0.15rem 0 0;
}
.zhuanfa{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.fot{
    width:100%;
    height:4.69rem;
    background:#fff;
    position:absolute;
    bottom:0;
    left:0;
    padding:0.4rem 0.2rem;
    box-sizing:border-box;
    z-index:5;
}
.fot ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    items-content:center;
}
.fot li{
    width:24%;
    height:1.7rem;
}
.fot li a{
    color:#000;
}
.tb{
    width:80%;
    height:1.2rem;
    background:#fff;
    margin:0 auto;
}
.tb img{
    width:100%;
    height:1.2rem;
}
.qq{
    font-size:0.30rem;
    text-align:center;
}
.bgtp{
    width:100%;
    height:100%;
    background:url('../img/bgtp.png') no-repeat center/100%;
    position:absolute;
    top:0;
    left:0;
}