@import "base.css";

body{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.bg{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(5px);
    position: absolute;
    z-index: -1;
    transform: scale(1.2);
}
header{
    width: 100%;
    height: .88rem;
    background-color: green;
}
.roll{
    width: 6.3rem;
    height: 6.58rem;
    background: #fff;
    position: absolute;
    bottom: 1.56rem;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .08rem;
    border-top: 1.26rem solid #fecd34;
}
.pic{
    width:100%;
    height: 6.58rem;
    background:url('../img/lovely.png') no-repeat center/100% 7rem;
    position:absolute;
    top:-1.2rem;
    left:0;
}
.name{
    font-size:35rem;
    z-index:100;
    position:absolute;
    bottom:2.4rem;
    left:0.5rem;
    font-weight:bold;
}
footer{
    width: 100%;
    height: 1.1rem;
    background-color: rgba(42,50,61,.3);
    position: fixed;
    bottom: 0;
}