*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a,a:hover,a:active,a:visited,a:focus{
	text-decoration: none
}
html,body{
    width:7.5rem;
    height:13.34rem;
    overflow: hidden;
    font-size: 0.32rem;
    position: relative;
    background: #fafafa;
    font-family: "苹方"
}
.main{
	width:100%;
    height:100%;
    overflow-y: auto;
    padding-top: 0.5rem;
    position:relative;
}
.icon-person{
	width: 2.18rem;
	height: 2.11rem;
	margin: 1.1rem auto 0.66rem
}
.icon-person img{
	width: 100%;
	height: 100%;
}
.phone-box{
	width: 6.54rem;
	height: 2.54rem;
	background: #fff;
	box-shadow: 0 0.04rem 0.5rem 0 rgba(202, 202, 202, 0.49);
	border-radius: 0.2rem;
	margin:0 auto;
	padding:0 0.36rem;
}
.phone-box form{
	width: 100%;
	height: 100%;
}
.input-box{
	height: 50%;
	border-bottom: 0.02rem solid rgba(0,0,0,0.03);
	padding: 0.37rem 0

}
.input-box:last-child{
	border:0;
}
.phone{
	width: 1.12rem;
	height: 0.53rem;
	background: rgba(255,66,107,0.1);
	border-radius: 0.4rem;
	display: inline-block;
	line-height: 0.53rem
}
.phone img{
	height: 100%;
	float: left;
}
.phone span{
	font-size: 0.24rem;
	font-weight: bold;
	color: rgba(255,66,107,.7)
}
.input-box input{
	height: 0.53rem;
	width: 3rem;
	border:0;
	outline:none;
}
.kstx-btn{
	width: 1.34rem;
	height: 0.53rem;
	background: rgba(255,66,107,0.7);
	border-radius: 0.4rem;
	font-size: 0.22rem;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 0.53rem;
	font-weight: bold;
	float: right;
}
.verification-code{
	width: 0.54rem;
	height: 0.54rem;
	display: inline-block;
	float: left;
	margin-right: 0.2rem
}
.verification-code img{
	width: 100%;
}
.next-btn{
	display: block;
	width: 6.54rem;
	height: 0.7rem;
	text-align: center;
	line-height: 0.7rem;
	font-weight: bold;
	color: #fff;
	border-radius: 0.1rem;
	position: absolute;
	bottom:1rem;
	left: 0.48rem;
	background: -webkit-linear-gradient(left, #ff4fa2 , #ff426b); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff4fa2, #ff426b); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff4fa2, #ff426b); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff4fa2, #ff426b); /* 标准的语法 */
    box-shadow: 0 0.1rem 0.20rem rgba(255,66,107,0.44);
}

/*register1*/
.back-box{
	width: 100%;
	height: 0.8rem;
	padding:0.2rem 0.26rem;
	position: absolute;
	z-index: 1000;
}
.tel-box{
	width: 100%;
	padding:0.35rem 0.46rem 0.2rem;
	color: #ff426b;
	font-weight: bold;
	font-size: 0.24rem;
	margin-top: 0.8rem;
}
/*.tel-box p{*/
	/*padding: 0.1rem 0*/
/*}*/
.circle{
	display: inline-block;
	width: 0.07rem;
	height: 0.07rem;
	background: #ff426b;
	border-radius: 50%;
}
#tel{
	font-weight: bold;
	font-size: 0.725rem;
}
.tel-set{
	width: 100%;
	padding: 0 0.46rem;
	color: rgba(255,66,107,.4);
	font-size: 0.24rem
}
.tel-set span{
	display: block;
}
.tel-set span:first-child{
	line-height: 0.6rem
}
.bar-box{
	width: 4.79rem;
	height: 0.06rem;
	background: #fff;
	border-radius: 0.03rem;
	margin-top: 0.1rem;
	overflow: hidden;
}
.bar{
	width: 1.85rem;
	height: 0.06rem;
	border-radius: 0.03rem;
	background: -webkit-linear-gradient(left, #ff426b , #ff4fa2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff426b, #ff4fa2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff426b, #ff4fa2); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff426b, #ff4fa2); /* 标准的语法 */
}
.user-pass{
	height: 3.82rem;
	margin-top: 0.5rem
}
.user-pass .input-box{
	height: 1.25rem;
}
/*register2*/
.second-bar{
	width: 3.36rem;
}
.sex-box{
	height:6.93rem;
	margin-top: 0.5rem;
	padding:0.9rem 0.8rem
}
.sex-ul{
	width: 100%;
	overflow: hidden;
}
.sex-ul li{
	width: 1.96rem;
	height: 0.75rem;
	box-shadow: 0 0.06rem 0.13rem 0 rgba(255, 84, 177, 0.5);
	border-radius: 0.37rem;
	opacity: 0.1;
	float: left;
	background: #41b1ff;
	text-align: center;
	line-height: 0.75rem;
}
.sex-ul li:last-child{
	float: right;
}
.sex-ul li img{
	width: 0.5rem;
	vertical-align: middle;
}
.sex-ul li.sex-li{
	background-image: -moz-linear-gradient( 90deg, rgb(255,85,179) 0%, rgb(255,56,117) 95%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,85,179) 0%, rgb(255,56,117) 95%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,85,179) 0%, rgb(255,56,117) 95%);
	opacity: 1;
}
.birthday{
	width: 100%;
	height: 2.9rem;
	margin-top: 1rem;
}
.birthday input{
	height: 1rem;
	width: 100%;
	padding: 0 0.2rem;
	font-size: 0.32rem;
	border: 0;
	border-bottom: 0.02rem solid rgba(0,0,0,0.03);
	outline: none;
	box-shadow: none;
}

/*register3*/
.head-box{
	height:6.93rem;
	margin-top: 0.5rem;
	padding:0.9rem 1.09rem
}
.third-bar{
	width: 4.79rem;
}
.head-portrait{
	width: 1.84rem;
	height: 1.84rem;
	border-radius: 50%;
	/*background-color: rgb(255, 255, 255);*/
	box-shadow: 0 0.01rem 0.38rem 0 rgba(227, 227, 227, 0.44);
	margin:0 auto;
	background: rgb(255, 255, 255) url("../images/head-portrait.png") no-repeat center;
	background-size: 1.1rem;
}
.img-url{
	width: 100%;
	overflow: hidden;
	margin-top:1.4rem;
}
.img-url li{
	width: 1.14rem;
	float: left;
	text-align: center;
}
.img-url li img{
	width: 100%;
}
.img-url li:last-child{
	float: right;
}
.img-url li p{
	font-size: 0.24rem;
	color: rgba(0,0,0,0.3);
}
/*register5*/
.head-portrait img{
	width: 100%;
}
/*register4*/
.photo-area{
	width: 100%;
	height: 5.68rem;
	background: #fafafa;
	box-shadow: 0 0.2rem 0.5rem 0 rgba(216,216,216,0.45);
	text-align: center;
	position: relative;
}
.photo-area .photo-bg{
	width: 3.24rem;
	position: absolute;
	left: 2.13rem;
	top: 1.22rem;
}
.photo-area .person{
	width: 100%;
	position: absolute;
	left:0;
	top:0;
	transform: rotate(5deg);
	transform-origin:50% 50%;
	box-shadow: 0 0.02rem 0.38rem 0 rgba(216,216,216,0.45);
	border:0.1rem solid #fff;
}
.rotate-box{
	width: 100%;
	height: 1rem;
	text-align: center;
}
.rotate-box img{
	height: 100%;
}
.option-btn{
	width: 2.77rem;
	overflow: hidden;
	margin:0.6rem auto 0.5rem;
}
.option-btn li{
	width: 1.14rem;
	height: 0.67rem;
	float: left;
	border-radius: 0.41rem;
}
.option-btn li:last-child{
	float: right;
}
.option-btn li.cut{
	background: url("../images/cut1.png") no-repeat center;
	background-size: 100%;
}
.option-btn li.cut.cut-select{
	background: url("../images/cut2.png") no-repeat center;
	background-size: 100%;
	box-shadow:0 0.02rem 0.05rem rgba(255,66,107,0.44);
}
.option-btn li.menu{
	background: url("../images/menu1.png") no-repeat center;
	background-size: 100%;
}
.option-btn li.menu.menu-select{
	background: url("../images/menu2.png") no-repeat center;
	background-size: 100%;
	box-shadow:0 0.02rem 0.05rem rgba(255,66,107,0.44);
}
.photo-type{
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-around;
}
.photo-type li{
	width: 1.14rem;
	text-align: center;
}
.type-box{
	width: 1.14rem;
	height: 1.14rem;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0.01rem 0.5rem 0 rgba(186, 186, 186, 0.45);
}
.type-box img{
	width: 1.06rem;
	margin-top: 0.04rem;
}
.photo-type li span{
	color: rgba(0,0,0,0.6);
	font-size: 0.24rem;
	font-weight: bold;
	margin-top: 0.2rem;
}
.gray img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

#rgsbtn{
    border:0;
    color:#fff;
    background:none;
    width: 6.54rem;
    height: 0.7rem;
}



